body { background-color: #000; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { 
  color: #ec0000;
  font-weight: bold; 
}

a:visited { 
  color: #666;
  font-weight: bold;
}

a:hover { 
  color: #c30000; 
  font-weight: bold;
}

/*-Content----*/

#outwrap {
  color: #999;
  width: 350px;
  border: 2px solid #883838;
  margin: 0 auto;
  text-align: center;
  background-color: #680000;
  padding: 5px;
  padding-bottom: 20px;
}

#wrap { 
  color: #000;
  margin: 0 auto;
  text-align: center;
  background-color: #232323;
  padding: 10px;
  width: 1000px;
}

#menuh {
  text-align: left;
  background-color: #510000;
  padding: 5px 10px 5px 10px;
  border: 1px solid #7f1515;
}

#menuh a {
  color: #fff;
  font: bold 14px verdana;
  border-right: 1px solid #7f1515;
  border-left: 1px solid #7f1515;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  height: 30px;
}

#menuh a:visited {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
}

#menuh a:hover {
  color: #fff;
  background-color: #2d0000;
  font-weight: bold;
  text-decoration: none;
}

#contenido {
  color: #414141;
  width: 300px;
  border: 2px solid #999;
  margin: 0 auto; 
  text-align: center;
  background-color: #eee;
  padding: 10px; 
}

#contenido h1{
  color: #171717;
}

#utitulo { 
  color: #fff;
  background-color: #000;
  font: bold 40px arial;
  text-align: center;
  border-bottom: 5px solid #680000;
  margin: 0;
}

#nuevo {
  color: #000;
  width: 300px;
  border: 2px solid #999;
  margin: 0 auto;
  text-align: left;
  background-color: #eee;
  padding: 10px;
}

#usuario { 
  color: #000;
  width: 300px;
  border: 2px solid #999;
  margin: 0 auto;
  text-align: left;
  background-color: #eee;
  padding: 10px;
}

#usuarios {
  padding: 15px;
  border: 1px solid #5e5e5e;
  background-color: #515151;
}

#usuarios h1 {
  color: #fff;
  margin: 0px;
  padding: 10px;
  background-color: #000;
}

#usuarios a { color: #882a2a; }

#usuarios th { 
  color: #fff;
  background-color: #8c0000;
}

#usuarios td{
  padding: 2px 20px 2px 20px;
  background-color: #aeaeae;
  text-align: center;
}

#usuarios td.opciones { background-color: #ae7f7f; }

#footer { 
  color: #fff;
  font: bold 10px arial
}

/*-errores----*/

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid gray;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}

